._container-top{
 width: 100%;
 background-color:#323d53;
 height: 80px;
}

.layout{
 color: burlywood;
}

.row:first-child{
 color:white;
}

.row:nth-child(2){
 color: white;
}


._bg-color{
 background-color: #059c93;
}

._container-bottom{
 min- height: 500px;
}


._padding{
 padding: 80px 0;
}

._jumbotron{
 width:80%;
 max-width: 900px;
 
 min-height: 300px;
 margin: 0 auto;
}

.pictures{
 width: 100%;
 height: 300px;
 margin-bottom: 5px;
 background-color: firebrick;
 border-radius: 10px;

 
}



._w60{
 width: 60%;
 margin: 0 auto;
}

.downbutton{
 background-color: transparent;
 margin-top: 30px;
 padding-top: 7px;
 padding-bottom: 7px;
 border: 1px solid white;
 border-radius: 3px;
}

.black div{
 color: black;
}


._footer-top{
 background-color: #3f5170;
}

._footer-bottom{
 background-color: #323d53;
}

._list{
   display: inline;
}

.navrow{
   line-height: 80px;
}

.logoname{
   font-size:20px;
   
}

._titles > li, .logoname, ._start{
   font-weight: bold;
}

._titles::after{
   clear: both;
   content: "";
   display: table;
}

._titles > li{
   float: left;
   padding-right: 30px;
   list-style-type: none;
   
 
}

._titles > li:hover{
color: lightgreen;
}

.jumboavatar{
   width: 20%;
   height: 20%;
   display: block;
   margin: 0 auto;
   min-height: 20%; /* Non funziona, provato per mantenere l'immagine grande che con i breakpoint diventa molto piccola */
}

._start{
   text-align: center;
   font-weight: bold;
}

.whitecolor{
   color: white;
}

.subtitles{
   text-align: center;
   font-size: 12px;
}

._star{
  width: 100%;
   font-size: 30px;
   text-align: center;
   margin-bottom: 20px;
}

.blackcolor{
   color: black;
}

.portfolio{
   font-weight: bold;
}

._down{
   margin-right: 5px;

}

.spacing{
   margin-bottom: 10px;
}

.logos > .fab{
   margin-right: 15px;
   border: 1px solid white;
   border-radius: 100%;
   padding: 10px;
}

.links{
   color:limegreen;
}

.bolding{
   font-weight: bold;
}

.dates{
   width: 100%;
   border: none;
   border-bottom: 1px solid grey;
   color: black;
   margin-bottom: 15px;
}

.usermessage{
   width: 100%;
   height: 100px;
   
}

.send{
   background-color: #249c93;
   border: none;
   border-radius: 1px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 13px;
   padding-right: 13px;
   border-radius: 5px;
}